/* ace css for manage account */
body, html, input, button, select, textarea {
            font-family: 'Inter', sans-serif;
        }

.modal {
    animation: fadeInScale 0.3s ease-in-out;
}

@keyframes fadeInScale {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
::-webkit-scrollbar{
    width: 4px;
    height: 4px;
}
::-webkit-scrollbar-track{
    background: #fc00004f;
}
::-webkit-scrollbar-thumb{
    background: #aa0101;
}
::-webkit-scrollbar-thumb:hover{
    background: #555
}
.swal-container{
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
}
.swal-popup {
  border-radius: 15px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  width: 400px;
  max-width: 400px;
  padding-bottom: 30px;
}
.swal-title {
  font-weight: bold;
  color: #333333;   
  padding-top: 10px;
}
.swal-content {
  color: #666666;
  font-size: 14px;
  margin-top: -10px;
}
.swal-confirm-button {
  background-color: #4a90e2;
  color: white;
  border-radius: 8px;
  padding: 10px 28px;
  font-weight: normal;
  border: none;
  box-shadow: none;
}
.swal-cancel-button {
  background-color: white;
  color: black;
  border-radius: 8px;
  padding: 10px 28px;
  font-weight: normal;
  border: 1px solid #343434; 
  box-shadow: none;
}
.swal-confirm-button:hover{
    transform: translateY(-5px);
    transition: all 0.3s ease;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    background-color: #4a90e2;
}
.swal-cancel-button:hover {
    transform: translateY(-5px);
    transition: all 0.3s ease;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}
.swal2-actions {
  gap: 5px; 
  margin-top: 20px;
}
.swal-icon {
  background-color: rgba(0, 89, 255, 0.105);
  border: none;
  width: 80px;
  height: 80px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: none;
}
.swal-icon-img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.swal2-close {
    font-size: 24px;
    color: #aaaaaa;
}
.swal2-loader{
    border-color: #c42727 rgba(0, 0, 0, 0) #2778c4 rgba(0, 0, 0, 0) !important;
    border-width: 2px !important;
}