.modal {
    animation: fadeInScale 0.3s ease-in-out;
}

@keyframes fadeInScale {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
::-webkit-scrollbar{
    width: 4px;
    height: 4px;
}
::-webkit-scrollbar-track{
    background: #fc00004f;
}
::-webkit-scrollbar-thumb{
    background: #aa0101;
}
::-webkit-scrollbar-thumb:hover{
    background: #555
}